USE [Kursova]
GO
/****** Object:  Trigger [dbo].[TR_BookLoan_NoDuplicateActive]    Script Date: 05.01.2026 0:42:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   TRIGGER [dbo].[TR_BookLoan_NoDuplicateActive]
ON [dbo].[BookLoan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    /* Якщо новий/оновлений запис активний (ReturnDate IS NULL),
       перевіряємо чи вже існує активний для цього Student+Book */
    IF EXISTS (
        SELECT 1
        FROM dbo.BookLoan bl
        JOIN inserted i
            ON bl.StudentID = i.StudentID
           AND bl.BookID = i.BookID
        WHERE i.ReturnDate IS NULL
          AND bl.ReturnDate IS NULL
          AND bl.LoanID <> i.LoanID
    )
    BEGIN
        RAISERROR (N'Неможливо видати ту саму книгу студенту повторно, поки попередня позичка не закрита.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
END
