USE [Kursova]
GO
/****** Object:  Trigger [dbo].[TR_BookLoan_ValidateReturnDate]    Script Date: 05.01.2026 0:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   TRIGGER [dbo].[TR_BookLoan_ValidateReturnDate]
ON [dbo].[BookLoan]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE i.ReturnDate IS NOT NULL
          AND i.ReturnDate < i.LoanDate
    )
    BEGIN
        RAISERROR (N'Дата повернення не може бути раніше дати видачі.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END
END
